h1{color: aqua;
font-size: small;}

.card {
    -webkit-border-radius: 0.5rem;
    -moz-border-radius: 0.5rem;
    border-radius: 0.5rem;
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    background: #fff;
  }
  
  .card.dark {
    background: #1d1a3d;
  }
  
  .card-content {
    padding: 2rem;
  }
  
  @media only screen and (max-width: 479px) {
    .card-content {
      padding: 1.5rem;
    }
  }