html{
    scroll-behavior: smooth;
}


body{
    background-color: #0b1114;
    font-family: 'Gentium Book Plus', serif;
}

#dropdownMenuButton1{background-color: rgb(255, 255, 255);
    color: black;
    font-size: large;

}

.dropdown{min-height: auto;}
.visuallyhidden{font: 700 rem}

.m-heading{
    font-family: 'Gentium Book Plus', serif;
}

.nav-link{
    border: 2px solid transparent;
}

.nav-link:hover{
    text-decoration: none;
    border-bottom: 2px solid #f5ba09;
    transition:0.5s ease;
}

#cityname{font-size:xxx-large;}

.main-container{
    min-height:70vh;}

.main_row{
    display: flex;
    justify-content: center;
    align-items: center;
}

#newsection{
    background-color:rgb(65, 141, 116)
}



#about{
    background-color: rgb(4, 70, 90);
    border-radius:0.5rem;
}

.card{
    border-bottom: 8px solid #f5ba09;
}
